@tailwind base;
@tailwind components;
@tailwind utilities;


.my-indicator{
    display:none;
}
.htmx-request .my-indicator{
    display:inline;
}
.htmx-request.my-indicator{
    display:inline;
}

.send-icon{
    display:inline;
}
.htmx-request .send-icon{
    display:none;
}
.htmx-request.send-icon{
    display:none;
}

